.main {
  background: silver;
  margin: 10px;
}
.name {
  color: red;
  text-align: center;
}
.infoAndPhoto {
  display: flex;
  width: 100%;
}
.info {
  width: 70% ;
  font-size: 15px;
  text-align: center;
  color: antiquewhite;
  margin: 5px;
}
h2 {
  margin: 0;
}
